.about{
  text-align: center;
  /*padding: 90px 0; */

	.block{


		h2{
			padding-top: 35px; 
		}
		p{
			line-height:28px;
		}
		img{
			width: 100%;
			opacity: 0.9;
			margin-left: 0px;
		}
	}
	.about-img {
		margin-left: 20px;
		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .9;
			@include transition (all, 0.5s, ease-out);
			width: 100%;
		}
		li{
			width: 260px;
			height: 350px;
		}
		u{
			width: 260px;
			height: 350px;
		}
		a{
			width: 260px;
			height: 350px;
		}
	}
	.about-img-2 {
		margin-left: 20px;
		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .9;
			@include transition (all, 0.5s, ease-out);
			width: 100%;
		}
		li{
			width: 260px;
			height: 350px;
		}
		u{
			width: 260px;
			height: 350px;
		}
		a{
			width: 260px;
			height: 350px;
		}
	}
	.section-title {
		margin-bottom: 0px;
	}
}
