.about{
  text-align: center;
  /*padding: 90px 0; */

	.block{


		h2{
			padding-top: 35px; 
		}
		p{
			line-height:28px;
		}
		img{
			width: 66%;
			opacity: .7;
		}
	}
	.about-img {
		margin-left: 20px;
		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .9;
			@include transition (all, 0.5s, ease-out);
			width: 60%;
		}

	}
	.section-title {
		margin-bottom: 0px;
	}
}
