.portfolio-work {
	padding: 80px 0;

	.block {
		.portfolio-menu {
			text-align: center;

			.btn-group {
				margin-bottom: 40px;

				label {
					display: inline-block;
					border: 1px solid $border-color;
					padding: 8px 25px;
					cursor: pointer;
					font-size: 15px;
					color: #333333;
					outline: 0;
					background: $light;
					margin: 2px;
					border-radius: 0;
					@include transition (all, 0.3s, ease);
				}
			}
		}
	}
}

.portfolio {
	&-item {
		position: relative;
		padding: 0;

		img {
			width: 100%;
			height: auto;
		}

		&:hover {
			.portfolio-hover {
				visibility: visible;
				opacity: 1;
			}

			.portfolio-content {
				transform: translateY(-50%);
			}
		}
	}

	&-hover {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(60, 55, 55, 0.5);
		visibility: hidden;
		opacity: 0;
		transition: .3s ease;
	}

	&-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-40%);
		text-align: center;
		padding: 20px;
		transition: inherit;

		* {
			color: $light;
		}

		a {
			display: block;
			transition: .2s ease;

			i {
				font-size: 30px;
			}

			&.h3 {
				margin-top: 0;
			}
		}
	}
}




// Portfolio Single Page
.portfolio-single-page {
	.project-details {
		h4 {
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 2px dashed $border-color;
		}

		span {
			color: #838383;
			width: 180px;
			display: inline-block;
		}

		strong {
			color: #313131;
			font-weight: normal;
		}

		ul {
			li {
				margin-bottom: 10px;
			}
		}
	}
}

body{
  background:#fff;
}

section.awSlider .carousel{ 
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

.slide {
	width: 80%;
}

section.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity:1;
}

section.awSlider img{
   pointer-events: none;
}

section.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all 20s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw); 
  -o-filter: blur(2vw); 
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}

