$light: #fff;
$primary-color: #FF7F4A;
$secondary-color: #10B39D;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$tertiary-font: 'Bad Script', sans-serif;
$icon-font: 'themefisher-font';