<script type="application/ld+json">
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title }},
  "image": {{ .Params.logo | absURL }},
  "datePublished": {{ .Params.PublishDate}},
  "dateModified": {{ .Params.PublishDate }},
  "author": {
    "@type": "Person",
    "name": {{ .Params.author }}
  },
  "mainEntityOfPage": { "@type": "WebPage" },
   "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Params.sitename }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ .Site.Params.logo }}
    }
  },
  "description": {{ .Summary | plainify | safeHTML }},
  "keywords": [{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}]
}
{{ end }}
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.sitename }},
  "url": {{ .Site.BaseURL }},
  "sameAs": [
    "https://www.linkedin.com/company/71724563/}",
    "https://www.instagram.com/rama_arquitectas/"
  ]
}
{
  "@context": "https://schema.org",
  "@type": "HomeAndConstructionBusiness",
  "name": {{ .Site.Params.sitename }},
  "description": {{ .Site.Params.description }},
  "openingHours": "Mo,Tu,We,Th,Fr 09:00-18:00",
  "telephone": "654896795"
}
{
  "@context": "https://schema.org",
  "@type": "Person",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Madrid",
    "addressRegion": "Madrid",
    "postalCode": "28045",
    "streetAddress": "Calle Áncora 5, 6D"
  },
  "colleague": [
    "{{ .Site.BaseURL }}",
  ],
  "email": "mailto:estudio@rama-arquitectas.es",
  "image": "",
  "jobTitle": "Architect",
  "name": "RAMA Arquitectas",
  "telephone": "654896795",
  "url": "{{ .Site.BaseURL }}"
}
</script>