<div class="widget widget-latest-post">
  <div class="widget.widget-category">
  <form  style="padding:5px" action="https://tinyletter.com/RAMA_Arquitectas" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/RAMA_Arquitectas', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><h3 class="widget-title"><label for="tlemail"><font style="color: #ff7f4a; font-size: 18px">¿QUIERES ESTAR AL DÍA DE NUESTRAS NOVEDADES EN BIOCONSTRUCCIÓN?</label></h3> <h4><font style="color: #000">Apúntante a nuestra Newsletter, te prometemos no mandarte publicidad ni spam.</h4><p><input type="text" style="width:350px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input class="btn btn-main" type="submit" value="¡SUSCRÍBETE!" /><p><a href="https://tinyletter.com" target="_blank"></a></p></form> </font> </div>
    <h4 class="widget-title">{{ i18n "latest_posts" }}</h4>
    {{ range first 4 (where site.Pages "Type" "post") }}
    <div class="media">
      <a class="pull-left" href="{{ .Permalink }}">
        <img class="media-object" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        <p>{{ .Summary | truncate 50 }}</p>
      </div>
    </div>
    {{ end }}
  </div>
