{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="contact form cee">
  <div class="container">
    <div class="row">
      <div style="padding:20px">
      <form method="POST" action="mailto:estudio.rama@gmail.com">
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="user_name" type="text" class="form-control" placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <input name="user_email" type="text" class="form-control" placeholder="Teléfono de contacto">
            </div>
            <div class="form-group">
              <input name="user_subject" type="text" class="form-control" placeholder="Dirección del inmueble">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <textarea name="user_message" class="form-control" rows="4" placeholder="Indique si su inmueble es una vivienda, un bloque de viviendas o un local comercial"></textarea>
            </div>
            <button class="btn btn-main" type="submit" style="margin-top: 20px" > solicite su certificado </button>
          </div>
        </div>
      </form>
    </div>
    </div>
</section>
<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 sticky-top">
        <h2>{{ .Title }}</h2>
        <p>{{ .Params.Subtitle | markdownify }}</p>
      <!--  <p>{{ i18n "last_update" }}: {{ .PublishDate.Format "January 2, 2006" }}{{ if ne .PublishDate .Lastmod }}, last updated {{ .Lastmod.Format "January 2, 2006" }}{{ end }}
        <p>{{ i18n "phone" }}: <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a></p>
        <p>{{ i18n "email" }}: <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a></p>
        <p>{{ i18n "location" }}: {{ site.Params.location }}</p> -->
      </div>
      <div class="col-md-8">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ end }}